* {
    padding: 0;
    margin: 0;
    border: none;


    box-sizing: border-box;
  }

.container{ 
    max-width: 960px;
    margin: 0px auto;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(200px,auto));
    grid-template-areas: 
                        "Header Main Main"
                        "Header Aside Nav"
                        "Footer Footer Nav";
}
header{
    padding: 20px;
    background-color: rgb(75, 75, 75);
    margin: 5px;
    grid-area: Header;
}
main{
    padding: 20px;
    background-color: rgb(75, 75, 75);
    margin: 5px;
    grid-area: Main;
}
aside{
    padding: 20px;
    background-color: rgb(75, 75, 75);
    margin: 5px;
    grid-area: Aside;
}
nav{
    padding: 20px;
    background-color:  rgb(75, 75, 75);
    margin: 5px;
    grid-area: Nav;
}
footer{
    padding: 20px;
    background-color:  rgb(75, 75, 75);
    margin: 5px;
    grid-area: Footer;
}